{% block view %}
    <form id="nuevo_libro_form">
        <h1 id="result"></h1>
        <p id="conditional-text"></p>
        <div class="input-field">
            <label for="titulo">Id</label>
            <input type="text" id="titulo" name="titulo" required>
        </div>
        <div class="input-field">
            <label for="titulo">Cargo</label>
            <input type="text" id="titulo" name="titulo" required>
        </div>
        <div class="input-field">
            <label for="biblioteca">Habilidades</label>
            <input type="text" id="biblioteca" name="biblioteca" required>
        </div>
        <div class="input-field">
            <label for="autor">Competencias</label>
            <input type="text" id="autor" name="autor" required>
        </div>
        <div class="input-field">
            <label for="estante">Meses Experiencia</label>
            <input type="text" id="estante" name="estante" required>
        </div>
        <div class="input-field">
            <label for="estante">Numero Vacantes</label>
            <input type="text" id="estante" name="estante" required>
        </div>
        <div class="input-field">
            <label for="estante">Salario</label>
            <input type="text" id="estante" name="estante" required>
        </div>
        <div class="input-field">
            <label for="estante">Jornada</label>
            <input type="text" id="estante" name="estante" required>
        </div>
        <div class="input-field">
            <label for="estante">Horario</label>
            <input type="text" id="estante" name="estante" required>
        </div>
        <div class="input-field">
            <label for="estante">teletrabajo</label>
            <input type="text" id="estante" name="estante" required>
        </div>
        <div class="input-field">
            <label for="estante">Pais</label>
            <input type="text" id="estante" name="estante" required>
        </div>
        <div class="input-field">
            <label for="estante">Ciudad</label>
            <input type="text" id="estante" name="estante" required>
        </div>
        <div class="input-field">

        </div>
        <div class="form-footer">
            <button type="submit" class="waves-effect waves-light btn">Guardar</button>
            <a href="/empresa/convocatorias" class="waves-effect waves-light btn">Return</a>
        </div>
    </form>
{% endblock view %}