#container-intro{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-intro img{
    width: 50vw;
}

#container-intro h1{
    text-align: justify;
    padding: 15px;
}