#container-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: change 14s infinite ease-in-out;
    height: 65vh;
  }

  @keyframes change {
    0% { background-image: url("/static/img/un1.jpg"); }
    12% { background-image: url("/static/img/un2.jpg"); }
    24% { background-image: url("/static/img/un3.jpg"); }
    37% { background-image: url("/static/img/un4.jpeg"); }
    49% { background-image: url("/static/img/un5.jpg"); }
    65% { background-image: url("/static/img/un6.jpg"); }
    80% { background-image: url("/static/img/un7.jpg"); }
    100% { background-image: url("/static/img/un1.jpg"); }
  }
  
  #container-intro img {
    width: 50vw;
  
  }
  
  #container-intro h1 {
    margin-left: 10%;
    text-align: left;
    font-size: 400%;
  }