<link rel="stylesheet" href="{{url_for('static', filename='styles/tarjetitas/tarjetitas.css')}}">
<!-- <link rel="stylesheet" href="{{url_for('static', filename='tarjetitas/tarjetitas.css')}}"> -->
{% extends 'base.html' %}

{% block content %}
<span class="succes_message">
    El inicio de sesión como administrador ha sido exitoso.
</span>

<div class="flexcontainer">
    <div class="flexcontainer" id="tarjetita">
      <img
        src="{{url_for('static', filename='img/informacion_personal.jpg')}}"
        alt="Imagen alusiva a la acción">
      <h2>Información personal del egresado</h2>
      <a href="/Personal_Info">
        <button>
            Información personal del egresado
        </button>
        </a>
    </div>

    <div class="flexcontainer" id="tarjetita">
        <img
          src="{{url_for('static', filename='')}}"
          alt="Imagen alusiva a la acción">
        <h2>T2</h2>
        <a href="/Personal_Info">
          <button>
              T2
          </button>
          </a>
      </div>
</div>




{% endblock %}