<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base/base.css') }}" type="text/css">

</head>

<body>
    <div class="barra-navegacion container">
        <div class="imagen">
            <a href="/">
                <img src="{{ url_for('static', filename='img/unal2.png') }}" alt="logo unal">
            </a>
        </div>

        <nav>
            <ul>
                {% block nav %}

                {% endblock nav %}
            </ul>
        </nav>

    </div>

    

    {% block content %}
    {% endblock %}

    <footer>

    </footer>

</body>

</html>