<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/biblioLibros/biblioLibros.css') }}"
  type="text/css"
/>

<!-- IMPORTACIONES DE MATERIALIZE -->
<!-- Compiled and minified CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="{{url_for('static', filename='js/añadir_onclick.js')}}"></script>

{% extends 'biblioBase.html' %} {% block nav %} {{super()}} {% endblock nav %}
{% block content %}

<div class="container">
  <div class="flexcontainer" id="tabla_prestamos">
    <h1>Registros de prestamos</h1>

    <table class="striped">
      <thead>
        <tr>
          <th>Documento</th>
          <th>Id Libro</th>
          <th>Fecha prestamo</th>
          <th>Fecha Vencimiento</th>
        </tr>
      </thead>
      <tbody>
        {% for prestamo in prestamos %}
        <tr>
          <td>{{ prestamo['pre_egr_numero_documento_identidad'] }}</td>
          <td>{{ prestamo['pre_lib_id'] }}</td>
          <td>{{ prestamo['pre_fecha_prestamo'] }}</td>
          <td>{{ prestamo['pre_fecha_vencimiento'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <button onclick="add_prestamo()" class="waves-effect waves-light btn">
      AÑADIR PRESTAMO
    </button>
  </div>
  <div id="formulario_prestamo" style="display: none" class="form-container">
    <form id="nuevo_libro_form">
      <h1>Añadir prestamo</h1>
      <div class="input-field">
        <label for="documento">Documento</label>
        <input type="text" id="documento" name="documento" required />
      </div>
      <div class="input-field">
        <label for="id_libro">Id Libro</label>
        <input type="text" id="id_libro" name="id_libro" required />
      </div>

      <div class="form-footer">
        <button
          type="submit"
          class="waves-effect waves-light btn"
          onclick="send_info_loan()"
        >
          Guardar
        </button>
        <a href="/bibliotecario/prestamo" class="waves-effect waves-light btn"
          >Return</a
        >
      </div>
    </form>
  </div>
</div>

{% endblock content %}
