<!-- IMPORTACIONES DE MATERIALIZE -->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/egr_datos_personales/egresado_datos_personales.css') }}" type="text/css" />
{% extends 'base.html'%}
{% block nav %}
{{super()}}
{% endblock nav %}

{% block content %}


<div class="container">
    <div class="flexcontainer" id="tabla_prestamos">
      <h1>Información de contacto del egresado</h1>
      <span id="mensaje"></span>
    
      <table class="striped">
        <thead>
          <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Teléfono principal</th>
            <th>Correo principal</th>
            <th>Telefono adicional</th>
            <th>Correo adicional</th>
          </tr>
        </thead>
        <tbody>
          {% for contacto in datos_contacto %}
          <tr>
            <td>{{ contacto['egr_numero_de_identificacion'] }}</td>
            <td>{{ contacto['egr_primer_nombre'] }} {{ contacto['egr_primer_apellido'] }} {{ contacto['egr_segundo_apellido'] }}</td>
            <td>{{ contacto['con_numero_telefono_principal'] }}</td>
            <td>{{ contacto['con_correo_electronico_principal'] }}</td>
            <td>{{ contacto['con_numero_telefono_adicional'] }}</td>
            <td>{{ contacto['con_correo_adicional'] }}</td>
    
            <td class="transaction-actions">
              <a
                class="btn btn-sm btn-danger"
                id="delete_button"
                onclick=""
                >Editar</a>
                <a
                class="btn btn-sm btn-danger"
                id="delete_button"
                onclick=""
                >Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
    </div>

</div>
{% endblock %}