<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/biblioLibros/biblioLibros.css') }}"
    type="text/css"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- IMPORTACIONES DE MATERIALIZE -->
<!-- Compiled and minified CSS -->
<link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
</script>
<script src="{{url_for('static', filename='js/empresa_onclick.js')}}">
</script>

{% extends 'empresaBase.html' %} {% block nav %} {{super()}} {% endblock nav %}
{% block content %}

<div class="container">
    <div class="flexcontainer" id="tabla_libros">
        {% if mensaje_error %}
        <span class="error_message"> {{ mensaje_error }} </span>
        {% endif %} {% if mensaje_success %}
        <span class="success_message"> {{ mensaje_success }} </span>
        {% endif %}
        <h1>Convocatorias Creadas</h1>
        <table class="striped">
        <thead>
        <tr>
        <th>Cargo</th>
        <th>Salario</th>
        <th>Vacantes</th>
        <th>Fecha</th>
        <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for convo in datos_convo %}
        <tr>
            <td>{{ convo['con_nombre_cargo'] }}</td>
            <td>{{ convo['con_salario'] }}</td>
            <td>{{ convo['con_numero_vacantes'] }}</td>
            <td>{{ convo['con_fecha_convocatoria'] }}</td>
            <td class="transaction-actions">
            <a
                class="btn btn-sm btn-danger"
                id="delete_button"
                onclick="eliminar_convo({{convo['con_id']}})"
                >Delete</a>
            <a
                class="btn btn-sm btn-danger"
                id="delete_button"
                onclick="info_convo({{ convo['con_id'] }})"
                >Info</a>
            <a
                class="btn btn-sm btn-danger"
                id="delete_button"
                onclick="info_aplicantes({{ convo['con_id'] }})"
                >Aplicar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <button onclick="add_libro()" class="waves-effect waves-light btn">
            AÑADIR CONVOCATORIA
        </button >
    </div>
    <div id="formulario_libro" style="display: none;" class="form-container">
        {% include 'empresa/form_new_convo.html' %}
        {% block form %}
        {% endblock form %}
    </div>
</div>
{% endblock content %}