<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/pregrado/pregradoAsesoria.css') }}"
  type="text/css"
/>

<!-- IMPORTACIONES DE MATERIALIZE -->
<!-- Compiled and minified CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="{{url_for('static', filename='js/añadir_onclick.js')}}"></script>

{% extends 'pregradoBase.html' %} {% block nav %} {{super()}} {% endblock nav %}
{% include 'asesoria.html' %} {% block content %} {{super()}} {% endblock
content %}
